body {
    background-color: darkcyan;
}
h2 {
    color:aliceblue;
    font-family: monospace;
}
h3 {
    color:azure;
    font-family: monospace;
} 
p {
    color:black;
    font-family: monospace;
}